

body{
    background-color: #f8fcff;
}

/* #search-container{
    display: grid;
    place-items: center;
} */

/* spinner adding */
#spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(187, 184, 184, 0.774);

}
.spinner{
    display:none;
}
.search{
    display: flex;
    justify-content: center;

    text-align: center;
}
input{
    border:1px solid gray;
    border-radius:5px;
    width: 70%;
    padding:5px 15px;
}
input:focus{
    outline: none;
}
#search-btn{
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* show details  */
#show-details{
    display: grid;
    place-items: center;
    margin-bottom:40px;
}
.details-img{
    width: 50%;
}
.left-border{
    border-right: 1px solid ;
    margin-right: 10px;
}
/* custom card  */
.custom-property{
    border: 0;
    border-radius: 10px;
    /* width:240px; */
    box-shadow:0px -1px 17px 2px rgb(0 0 0 / 20%);;
    padding: 20px;
    margin: 0;
}

.custom-property img{
    border-radius: 20px;
    /* padding-left:10px; */
    text-align: center;
    transition: .3s linear;
}
.card-body{
    padding:13px 0;
}
.card-body p{
    margin-bottom: 7px;
    font-weight: 500;
}
.brand-name{
    font-weight: 600;
    font-size: 16px;
}
.details-btn{
    border: none;
    padding: 7px 25px;
    color: #f8fcff;
    cursor: pointer;
    border-radius: 4px;
    background:#035185e5;
    font-size: 20px;
    margin-top: 10px;
}

.details-card{
    width:350px;
    /* width: auto; */
    padding: 20px;
}

/* show all btn  */
.show-all{
    border: none;
    padding: 7px 25px;
    color: #f8fcff;
    cursor: pointer;
    border-radius: 4px;
    background:#035185e5;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    margin-top: 40px;
    display: inline-block;
    
}



@media screen and (max-width:576px) {
    .search{
        flex-direction: column;
        align-items: flex-start;
    }
    #search-field{
        display: block;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    input::placeholder{
        font-size: 13px;
    }
    #search-btn{
        text-align: center;
        margin: 0 auto;
        border-radius: 5px;
        padding: 7px 25px;
        font-size: 17px;
    }
}




@media screen and (max-width:420px){
    .details-card{
        width: 280px;
    }
}

